.navbar-section {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 5.6rem;
    gap: 2rem;

    background-color: $color-white;

    box-sizing: border-box;

    &__logo {
        width: 100%;
        max-width: 14rem;
        display: block;
    }

    &__list {

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.8rem;

            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: bold;
            color: $color-general-1;
        }

        &.is-open {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;

            background-color: $color-white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);

            padding: 2rem;
            z-index: 100;

            ul {
                flex-direction: column;
                align-items: flex-start;
                gap: 1.6rem;
            }
        }
    }

    &__btns {
        display: flex;
        gap: 2.4rem;
        justify-content: center;
        align-items: center;
    }

    &__active {
        color: $color-primary !important;
    }

    &__menu {
        display: none;
        border: none;
        background: none;
        cursor: pointer;

        font-size: 2.8rem;
        color: $color-general-1;
    }
}

// RESPONSIVE
// TABLET
@media (max-width: 75em) {

    .navbar {

        &__list {
            display: none;
        }

        &__menu {
            display: block;
        }
    }
}

// SMALL MOBILE
@media (max-width: 37.5em) {
    .navbar-section {
        padding: 0 1.6rem;
    }

    .navbar {
        padding: 1.6rem 0.8rem;

        &__logo {
            max-width: 13rem;
        }

        &__btns {
            gap: 1rem;
        }

        &__menu {
            font-size: 2.4rem;
        }
    }
}