.about-section {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.about {
    &__top {
        padding: 4.2rem 0;
        text-align: center;

        span {
            width: 90%;
            font-size: 1.6rem;
        }

    }

    &__img-box {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        border-radius: 1rem;
        display: block;
        width: 90%;
        height: 90%;
        object-fit: contain;
        object-position: center;
    }
}

// RESPONSIVE
// Tablet
@media (max-width: 56.25em) {
    .about {
        &__top {
            width: 90%;
        }

        &__img-box {
            width: 90%;
        }
    }

}


// Mobile
@media (max-width: 37.5em) {
    .about-section {
        padding: 0 2.5rem;
    }

    .about {
        &__top {
            margin-bottom: -6rem;
        }

        img {
            width: 100%;
        }
    }

    .about__img-box {
        aspect-ratio: 4 / 3;
        border-radius: 0.8rem;
    }
}