{% extends 'base.html' %}


{% block content %}
    <!-- start forget password -->
    <section class="auth">
        <div class="auth__container">

            <div class="auth__header">
                <h1 class="auth__title">Reset Password</h1>

                <p class="auth__description">
                    Enter the e-mail address associated with the account.
                    <br>
                    We'll e-mail a link to reset your password.
                </p>
            </div>

            <form class="auth__form">

                <div class="auth__field">
                    <input type="email" class="auth__input" placeholder="Email" required>
                </div>

                <button type="submit" class="auth__button">
                    Send Request Link
                </button>

                <a href="{% url 'registration:signin' %}" class="auth__link">
                    Register Back To Login
                </a>

            </form>

        </div>
    </section>
    <!-- end forget password -->
{% endblock %}

