// VARIABLES
$color-primary: #0B3F6E;

$color-primary-light-1: #0B3F6E;
$color-primary-light-2: #254B86;
$color-primary-light-3: #0059A4;
$color-primary-light-4: #0370CB;
$color-primary-light-5: #888888;
$color-primary-light-6: #B0B0B0;
$color-primary-light-7: #D1D1D1;
$color-primary-light-8: #E7E7E7;
$color-primary-light-9: #D1F1FE;

$color-white: #FFFFFF;

$color-general-1: #1C1C1B;
$color-general-2: #3D3D3D;
$color-general-3: #636366;
$color-general-4: #6D6D6D;
$color-general-5: #8A8A8A;
$color-general-6: #B0B0B0;
$color-general-7: #D1D1D1;
$color-general-9: #EAEAEA;
$color-general-10: #F2F2F2;

// GENERAL SETTINGS
html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
}