.heading-1 {
    font-size: 8rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
}

.heading-3 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}

.heading-6 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}